body {
    background-image: url(imgs/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    background-position-x: center;
}

.intro {
    background-color:rgba(15, 23, 61, 0.2);
    box-shadow:inset 0px 0px 11px -3px black, 0px 0px 11px 0px white;
    padding:30px;
    border-radius:6px;
    border:2px solid white;
}

.btn {
    color:white;
}

html {
    overflow-x:hidden;
    overflow-y: auto;
}

.start, .favorites, .buy, .respin, .startover {
    background-color:rgb(96, 156, 196);
    margin-top:10px;
    border:2px solid white;
    font-weight: bold;
    margin:10px;
    margin-top:15px;
        box-shadow:0px 0px 6px 0px rgb(15, 49, 71);

}

.start:hover, .favorites:hover, .buy:hover, .respin:hover, .startover:hover {
    background-color:aliceblue;
    color:black;
    transform:scale3d(1.1, 1.1, 1.1);
}

.subtitle, .titleHeader, label {
    /* color:rgb(0, 10, 143); */
    color:white;
}

label {
    margin-top:10px;
    font-weight:bold;
}

input {
    border-radius:6px;
    background-color: rgba(243, 247, 255, 0.5);
    border:2px solid black;
    padding:2px;
    border:2px solid rgb(72, 116, 146);
}

#theName, #budget {
    margin-top:3px;
    margin-bottom:3px;
    padding-left:5px;
}

.modal-title, .modal-body {
    color: rgb(15, 49, 71);
}


.selectedImg {
    width:300px;
    height:300px;
    box-shadow:0px 0px 10px 0px rgb(15, 49, 71);
}

.modal-content {
    background-image:linear-gradient(rgb(184, 210, 228), rgb(96, 156, 196), rgb(146, 172, 189));
    animation: modal-pop 1s;

}

.card {
        background-image:linear-gradient(rgb(184, 210, 228), rgb(96, 156, 196), rgb(146, 172, 189));
        border:2px solid white;
}

.card-img-top {
    border-bottom:2px solid white;
}

.desc, .price {
    font-size:17.5px;
    color: rgb(15, 49, 71);
}

@keyframes modal-pop {
    0% {
        transform:scale(0.1);
    }
    50% {
        transform:scale(1.1);
    }
    100% {
        transform:scale(1);
    }
}
